.hero {
  overflow: hidden;
  &__container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;

    @media (min-width: 64em) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: left;
      padding: 4rem 0 3rem;
    }
  }

  p {
    text-transform: uppercase;
    font-size: 0.9em;

    @media (min-width: 45em) {
      font-size: 1.2em;
    }
  }
  .buttons {
    margin-top: 1rem;
    flex-direction: column;
    .btn {
      font-size: 1rem;
      &:nth-child(1) {
        margin-bottom: 0.75rem;
      }
    }
    @media (min-width: 45em) {
      flex-direction: row;
      margin: 0;
      margin-top: 1.5rem;
      justify-content: center;
      align-items: center;
      .btn {
        &:nth-child(1) {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    }
    @media (min-width: 64em) {
      justify-content: flex-start;
    }
  }
  &__img {
    .img {
      width: 100%;
    }
    @media (min-width: 64em) {
      width: 45%;
      .img {
        width: unset;
      }
    }
  }
}
