// Coolors

$primary1: #3f4d79;
$primary2: #fe7523;
$primary3: #ffb000;

$neutral1: #3cbfd4;
$neutral2: #ceeff7;

// border
$border: 3px solid #f6f7fa;

// Shadow
$lightShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$lightShadow2: 0 5px 30px rgba(60, 192, 212, 0.7);
// transition
$transition: all 0.3s linear;
