.work {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  background-color: $clr-primary2;
  text-align: center;
  @media (min-width: 64em) {
    margin-top: 0;
  }
  &::before {
    content: url('./../../image/leave.svg');
    position: absolute;
    top: -61px;
    left: -77px;
    z-index: -1;
  }
  &::after {
    content: url(./../../image/working-anywhere.svg);
    position: absolute;
    z-index: -2;
    bottom: -170px;
    left: -50px;
    right: 0;
    /* top: 0; */
    transform: scale(0.5);

    @media (min-width: 45em) {
      left: unset;
      right: 0px;
      bottom: -80px;
      transform: scale(1);
    }
  }
  &__container {
    padding-top: 2.5rem;
    padding-bottom: 7rem;
    @media (min-width: 64em) {
      padding-top: 7rem;
    }
  }
  &__card {
    margin-top: 3rem;
    display: grid;
    place-items: center;
    gap: 2rem;
    @media (min-width: 45em) {
      grid-template-columns: repeat(auto-fill, minmax(347px, 1fr));
    }
    .card {
      max-width: 347px;
      height: auto;
      width: 90%;
      background-color: $clr-neutral3;
      color: $clr-neutral;
      border-radius: 7px;
      overflow: hidden;
    }
    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }
    .card-item {
      padding: 0 1.5rem 1.5rem;
      display: grid;
      grid-template-rows: 1fr 4fr 2fr;
      place-items: center;
    }
    .languages {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      p {
        margin-top: 0.5rem;
        color: $clr-neutral;
        text-transform: uppercase;
      }
    }
    .buttons {
      width: 100%;
      .btn {
        font-size: 0.9em;
      }
    }
  }
  h2 {
    color: $clr-neutral3;
  }
  h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    letter-spacing: 1px;
  }
  ul {
    padding-left: 0.8rem;
    display: grid;
    gap: 0.25rem;
  }
  li {
    list-style-type: decimal;
    text-align: left;
  }
  p {
    color: $clr-neutral3;
  }
}
