.work {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  background-color: $clr-primary2;
  text-align: center;
  @media (min-width: 64em) {
    margin-top: 0;
  }
  &::before {
    content: url('./../../image/leave.svg');
    position: absolute;
    top: -61px;
    left: -77px;
    z-index: -1;
  }
  &::after {
    content: url(./../../image/working-anywhere.svg);
    position: absolute;
    z-index: -2;
    bottom: -170px;
    left: -50px;
    right: 0;
    /* top: 0; */
    transform: scale(0.5);

    @media (min-width: 45em) {
      left: unset;
      right: 0px;
      bottom: -80px;
      transform: scale(1);
    }
  }
  &__container {
    padding-top: 2.5rem;
    padding-bottom: 7rem;
    @media (min-width: 64em) {
      padding-top: 7rem;
    }
  }
  &__card {
    margin-top: 3rem;
    display: grid;
    place-items: center;
    gap: 2rem;
    @media (min-width: 45em) {
      grid-template-columns: repeat(auto-fill, minmax(347px, 1fr));
    }
    .card {
      max-width: 347px;
      height: auto;
      width: 90%;
      background-color: $clr-neutral3;
      color: $clr-neutral;
      border-radius: 7px;
      overflow: hidden;
    }
    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
      transition: all 250ms ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
    /* 
      /////////
      Modal
      ///////
      */
    .modal {
      z-index: 99;
      display: none;
      padding-top: 10px;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0, 0, 0);
      background-color: rgba(0, 0, 0, 0.8);
    }

    .modal-content {
      margin: auto;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .modal-hover-opacity {
      opacity: 1;
      filter: alpha(opacity=100);
    }

    .modal-hover-opacity:hover {
      opacity: 0.6;
      filter: alpha(opacity=60);
    }

    .close {
      text-decoration: none;
      float: right;
      font-size: 5rem;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }
    .modal-content,
    #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {
        -webkit-transform: scale(0);
      }
      to {
        -webkit-transform: scale(1);
      }
    }

    @keyframes zoom {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }

    .card-item {
      padding: 0 1.5rem 1.5rem;
      display: grid;
      grid-template-rows: 1fr 4fr 2fr;
      place-items: center;
    }
    .languages {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 0.8em;
      p {
        color: #929292;
        text-transform: uppercase;

        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }
    .buttons {
      width: 100%;
      .btn {
        font-size: 0.9em;
      }
    }
  }
  h2 {
    color: $clr-neutral3;
  }
  h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
    letter-spacing: 1px;
    color: $clr-second;
  }
  ul {
    padding-left: 0.8rem;
    display: grid;
    gap: 0.25rem;
  }
  li {
    list-style-type: decimal;
    text-align: left;
  }
  p {
    color: $clr-neutral3;
  }
}
