@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
  color: #3f4d79;
}

h2 {
  font-size: 2rem;
  color: #3f4d79;
}

h3 {
  font-size: 1.25rem;
  color: #fe7523;
}

h4 {
  font-size: 0.875rem;
}

/* btn */
.btn {
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #3cbfd4;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.primary {
  background-color: #fe7523;
}

.secondary {
  background-color: #ffb000;
}

.live-btn {
  background-color: #3cbfd4;
  color: #fff;
}

.live-btn:hover {
  background-color: #3f4d79;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.github-btn {
  background-color: #ffb000;
}

.github-btn:hover {
  background-color: #3f4d79;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (min-width: 800px) {
  /* section */
  .section {
    padding: 5rem 0;
  }
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  /*           */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.nav {
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  top: 0;
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.nav__header .logo {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  color: #3f4d79;
}

.nav__toggle {
  font-size: 1.5rem;
  color: #3f4d79;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.nav__toggle:hover {
  color: #fe7523;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nav__links a {
  display: block;
  color: #3f4d79;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 0.5rem 1rem;
}

.nav__links a:hover {
  background-color: #fe7523;
  color: #fff;
  padding-left: 1.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav__links {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav__show {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .nav {
    position: relative;
    padding: 0 2rem;
  }
  .nav__center {
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
  .nav__header {
    padding: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__links {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__links a {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0;
    margin: 0 1rem;
  }
  .nav__links a:hover {
    padding: 0 0.2rem;
    color: #fe7523;
    background-color: transparent;
  }
}

.hero .section-center {
  padding: 2rem 1rem;
  padding-bottom: 4rem;
}

.hero .section-center .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.hero__content {
  text-align: center;
  z-index: 2;
}

.hero__content p {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fe7523;
  text-transform: uppercase;
}

.hero__content h1 {
  margin-bottom: 2rem;
}

.hero__content .job {
  margin-top: -0.5rem;
  margin-bottom: 0.3rem;
  color: #fe7523;
}

.hero__content .flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.hero__content .flex-btn .primary {
  margin-bottom: 1.5rem;
}

.hero__img {
  width: 191px;
  height: 250px;
  background-image: url(/image/hero-image-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: 1;
}

@media screen and (min-width: 800px) {
  .hero__content {
    text-align: left;
  }
  .hero__content .flex-btn {
    margin: 0;
  }
  .hero__img {
    width: 350px;
    height: 500px;
    background-image: url(/image/hero-image-dekstop.svg);
    top: -50px;
  }
}

@media screen and (min-width: 1025px) {
  .hero {
    height: calc(100vh - 70px);
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .hero__content h1 {
    width: 65vw;
  }
  .hero__content .flex-btn {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__content .flex-btn .primary {
    margin-right: 2rem;
    margin-bottom: 0;
  }
  .hero__img {
    width: 400px;
    height: 530px;
    background-image: url(/image/hero-image-dekstop.svg);
    top: -100px;
  }
}

.work {
  background-color: #ceeff7;
}

.work .section-center {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-bottom: 4rem;
}

.work .section-center h2 {
  padding-top: 4rem;
  text-align: center;
  margin-bottom: 2rem;
}

.work .section-center .grid-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.work .section-center .grid-container .grid-item {
  position: inherit;
  max-width: 345px;
  width: 80%;
  padding: 1rem 2rem;
  padding-bottom: 3rem;
  background: #fff;
  margin: 0 auto;
  border: 3px solid #f6f7fa;
  border-radius: 7px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.work .section-center .grid-container .grid-item:hover {
  bottom: 15px;
  -webkit-box-shadow: 0 5px 30px rgba(60, 192, 212, 0.7);
          box-shadow: 0 5px 30px rgba(60, 192, 212, 0.7);
}

.work .section-center .grid-container .grid-item .img {
  width: 347px;
  height: 260px;
  background-image: url(/image/image1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -1.1rem;
  margin-bottom: 2rem;
}

.work .section-center .grid-container .grid-item .title {
  text-transform: uppercase;
  text-align: center;
}

.work .section-center .grid-container .grid-item .ch {
  color: #3f4d79;
  font-size: 1.1em;
}

.work .section-center .grid-container .grid-item .desc {
  list-style-type: decimal;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.work .section-center .grid-container .grid-item .desc li {
  padding-left: 0.2rem;
}

.work .section-center .grid-container .grid-item .flex-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work .section-center .grid-container .grid-item .flex-btn .btn {
  padding: 0.5rem 1.5rem;
  font-size: 0.75em;
}

@media screen and (min-width: 720px) {
  .work {
    padding: 2rem 0;
    padding-bottom: 0rem;
  }
  .work .section-center h2 {
    padding: 0;
    margin-bottom: 3rem;
  }
  .work .section-center .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .work .section-center .grid-container .grid-item {
    padding: 0 1rem;
    padding-bottom: 2rem;
  }
  .work .section-center .grid-container .grid-item .title {
    font-size: 1.3rem;
  }
  .work .section-center .grid-container .grid-item .ch {
    color: #3f4d79;
    font-size: 1.1em;
  }
  .work .section-center .grid-container .grid-item .desc {
    list-style-type: decimal;
    padding-left: 1rem;
  }
  .work .section-center .grid-container .grid-item .desc li {
    padding-left: 0.2rem;
  }
  .work .section-center .grid-container .grid-item .flex-btn {
    width: 85%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  .work {
    padding-bottom: 2rem;
  }
  .work .section-center .grid-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.contact {
  background: -webkit-gradient(linear, left top, left bottom, from(#ceeff7), to(#3cbfd4)), #ceeff7;
  background: linear-gradient(180deg, #ceeff7 0%, #3cbfd4 100%), #ceeff7;
  text-align: center;
  padding-bottom: 4rem;
}

.contact__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__detail .telp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3f4d79;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 7px;
  color: #fff;
}

.contact__detail .telp .fa-whatsapp {
  font-size: 2rem;
  margin-right: 1rem;
}

.contact__detail .telp p {
  font-size: 1.1rem;
  font-weight: lighter;
}

.contact__detail .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3f4d79;
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 7px;
  color: #fff;
}

.contact__detail .email .fa-envelope {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.contact__detail .email p {
  font-size: 1.1rem;
  font-weight: lighter;
}

@media screen and (min-width: 720px) {
  .contact {
    padding-top: 1rem;
  }
  .contact h2 {
    margin-bottom: 2rem;
  }
  .contact__detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact__detail .telp {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contact__detail .email {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 1025px) {
  .contact__detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__detail .telp {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
    margin-right: 3rem;
  }
  .contact__detail .email {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0;
  }
}

.footer {
  background-color: #e7e7e7;
}

.footer__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.footer .red {
  font-weight: bold;
  color: #ff0000;
}

.footer a {
  color: #3f4d79;
  font-weight: bold;
}

.footer a:hover {
  color: #fe7523;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (min-width: 1025px) {
  .footer__detail {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */