@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 1.7;
}

/*
 /////////
  typogra
 /////////
*/
p {
  color: #5a5656;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  margin-bottom: 1.2rem;
  font-weight: 700;
  color: #6159e5;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.175rem;
}

@media (min-width: 45em) {
  p {
    font-size: 1.2em;
  }
  h1,
  h2,
  h3 {
    letter-spacing: 7px;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}

/*
 /////////
  Buttons
 /////////
*/
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: #fff;
}

.btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.primary {
  background-color: #6159e5;
  position: relative;
}

.primary::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.primary:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.second {
  background-color: #8e6f7f;
}

.second::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.second:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  font-weight: 500;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 90%;
  margin: 0 auto;
}

.logo {
  font-size: 1.5rem;
  color: #6159e5;
  text-transform: uppercase;
  font-weight: 500;
}

.nav {
  -webkit-box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.09);
}

@media (min-width: 64em) {
  .nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__toggle {
  font-size: 1.5rem;
  color: #6159e5;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

@media (min-width: 64em) {
  .nav__toggle {
    display: none;
  }
}

.nav__links {
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 0.5rem;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

@media (min-width: 64em) {
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav li::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  border-radius: 7px;
  background-color: #6159e5;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.nav li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  margin-top: 0.5rem;
}

.nav a {
  text-transform: uppercase;
  color: #6159e5;
  font-weight: 500;
  position: relative;
}

.nav__show {
  height: 10rem;
}

.hero {
  overflow: hidden;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
}

@media (min-width: 64em) {
  .hero__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    padding: 4rem 0 3rem;
  }
}

.hero p {
  text-transform: uppercase;
  font-size: 0.9em;
}

@media (min-width: 45em) {
  .hero p {
    font-size: 1.2em;
  }
}

.hero .buttons {
  margin-top: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero .buttons .btn {
  font-size: 1rem;
}

.hero .buttons .btn:nth-child(1) {
  margin-bottom: 0.75rem;
}

@media (min-width: 45em) {
  .hero .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    margin-top: 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .buttons .btn:nth-child(1) {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .hero .buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.hero__img .img {
  width: 100%;
}

@media (min-width: 64em) {
  .hero__img {
    width: 45%;
  }
  .hero__img .img {
    width: unset;
  }
}

.work {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  background-color: #3f3d56;
  text-align: center;
}

@media (min-width: 64em) {
  .work {
    margin-top: 0;
  }
}

.work::before {
  content: url("./../../image/leave.svg");
  position: absolute;
  top: -61px;
  left: -77px;
  z-index: -1;
}

.work::after {
  content: url(./../../image/working-anywhere.svg);
  position: absolute;
  z-index: -2;
  bottom: -170px;
  left: -50px;
  right: 0;
  /* top: 0; */
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

@media (min-width: 45em) {
  .work::after {
    left: unset;
    right: 0px;
    bottom: -80px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.work__container {
  padding-top: 2.5rem;
  padding-bottom: 7rem;
}

@media (min-width: 64em) {
  .work__container {
    padding-top: 7rem;
  }
}

.work__card {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  gap: 2rem;
}

@media (min-width: 45em) {
  .work__card {
    -ms-grid-columns: (minmax(347px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(347px, 1fr));
  }
}

.work__card .card {
  max-width: 347px;
  height: auto;
  width: 90%;
  background-color: #fff;
  color: #5a5656;
  border-radius: 7px;
  overflow: hidden;
}

.work__card img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.work__card .card-item {
  padding: 0 1.5rem 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4fr 2fr;
      grid-template-rows: 1fr 4fr 2fr;
  place-items: center;
}

.work__card .languages {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__card .languages p {
  margin-top: 0.5rem;
  color: #5a5656;
  text-transform: uppercase;
}

.work__card .buttons {
  width: 100%;
}

.work__card .buttons .btn {
  font-size: 0.9em;
}

.work h2 {
  color: #fff;
}

.work h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  letter-spacing: 1px;
}

.work ul {
  padding-left: 0.8rem;
  display: -ms-grid;
  display: grid;
  gap: 0.25rem;
}

.work li {
  list-style-type: decimal;
  text-align: left;
}

.work p {
  color: #fff;
}

.contact {
  background-color: #d0cfdc;
  position: relative;
  z-index: 1;
}

.contact::after {
  content: url(./../../image/contact-img.svg);
  position: absolute;
  z-index: -2;
  top: 0;
  right: 290px;
  bottom: -175px;
  left: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

@media (min-width: 45em) {
  .contact::after {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: -144px;
  }
}

@media (min-width: 64em) {
  .contact::after {
    -webkit-transform: scale(1);
            transform: scale(1);
    left: unset;
    top: unset;
  }
}

.contact__container {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

@media (min-width: 64em) {
  .contact__container {
    height: 83vh;
  }
}

.contact h2 {
  text-align: center;
}

.contact__cta {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.contact__cta .connect {
  width: 75%;
  background-color: #3f3d56;
  color: #fff;
  border-radius: 7px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

@media (min-width: 45em) {
  .contact__cta .connect {
    width: 40%;
  }
}

@media (min-width: 64em) {
  .contact__cta .connect {
    width: 30%;
  }
}

.contact__cta .connect i {
  font-size: 1.5rem;
  margin-right: 2rem;
}

.contact__cta .connect::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  z-index: -1;
}

.contact__cta .connect:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer {
  background-color: #3f3d56;
  text-align: center;
}

.footer__container {
  padding: 1rem 0;
}

@media (min-width: 64em) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__container li:not(:last-child) {
    margin-right: 2rem;
  }
}

.footer .logo {
  font-size: 1.4rem;
}

.footer ul {
  margin-top: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo,
.footer a {
  color: #cfcedc;
  text-transform: uppercase;
}

.footer a {
  color: #fff;
}

.footer a::after {
  content: '';
  display: block;
  margin-top: 0.25rem;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.footer a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=style.css.map */